<div id="imgFrame" class="table">

	<div id="close" style="opacity: 0.3; background-color: rgb(102, 102, 102);">
		<i class="icon-cancel"></i>
	</div>

	<div class="piow-cell">
	
		<h1>Help</h1>
		
		<div>
			<p>
				view an image
			</p>
			<p class="answer">
				click on an image
			</p>

			<p>
				view next image
			</p>
			<p class="answer">
				click on the right side of the image
			</p>

			<p>
				view previous image
			</p>
			<p class="answer">
				click on the left side of the image
			</p>

			<p>
				close image
			</p>
			<p class="answer">
				click on the top right close button
			</p>

			<p>
				close this help
			</p>
			<p class="answer">
				click on the top right close button
			</p>
			
			<p>
				keyboard shorcuts
			</p>
			<p class="answer">
				next : &gt; / previous : &lt; / close : x
			</p>
		</div>
	</div>
</div>