<div id="imgFrame" class="table">

	<div id="close" style="opacity: 0.3; background-color: rgb(102, 102, 102);">
		<i class="icon-cancel"></i>
	</div>

	<div class="piow-cell">
	
		<div class="container">
			<h1>Help</h1>

			<div class="item">
				<p class="title">
					view an image
				</p>
				<p>
					click on an image
				</p>
			</div>
			<div class="item">
				<p class="title">
					view next image
				</p>
				<p>
					click on the right side of the image
				</p>
				<p>
					keyboard shortcut : &gt;
				</p>
			</div>
			<div class="item">
				<p class="title">
					view previous image
				</p>
				<p>
					click on the left side of the image
				</p>
				<p>
					keyboard shortcut : &lt;
				</p>
			</div>
			<div class="item">
				<p class="title">
					close image
				</p>
				<p>
					click on the top right close button
				</p>
				<p>
					keyboard shortcut : x
				</p>
			</div>
			<div class="item">
				<p class="title">
					close this help
				</p>
				<p>
					click on the top right close button
				</p>
				<p>
					keyboard shortcut : x
				</p>
			</div>
		</div>
	</div>
</div>