{% extends "layout.twig" %}

{% block content %}

<table class="error">
  <tr>
    <td>configuration error,</td>
  </tr>
  <tr>
    <td>folder <span class="errorItem">{{ imagesDir }}</span> not found </td>
  </tr>
  <tr>
    <td>in <span class="errorItem">{{ rootDir }}</span> ! </td>
  </tr>
  <tr>
    <td>check file config/piow.php</td>
  </tr>
  <tr>
    <td>and <a class="error" href="/">retry</a></td>
  </tr>
</table>

{% endblock %}
