{% extends "layout.twig" %}

{% block content %}

<table id="error">
  <tr>
    <td>configuration error,</td>
  </tr>
  <tr>
    <td>galleries not found,</td>
  </tr>
  <tr>
    <td>check file config/prod.php</td>
  </tr>
  <tr>
    <td>line 18 - 23.</td>
  </tr>
  <tr>
    <td>and <a class="error" href="/">retry</a></td>
  </tr>
</table>

{% endblock %}
