/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
    width : 100%;
    color : white;
    background-color : black;
}

img {
    float : left;
    width : 150px;
/*     opacity : 0; */
}



#frame {
/*     border : 1px solid red; */
/*     display : inline-block; */
}

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}