/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/border-radius";

@import url(https://fonts.googleapis.com/css?family=Lato:400,300|Gruppo);

:focus {outline:0;}

body {
    width : 100%;
    height : 100%;
    color : white;
    background-color : black;
/*     overflow : hidden; */
}

img.preview {
    float : left;
}

img.fullPic {
	position : relative;
    max-width : 100%;
    max-height : 100%;
    margin: auto;
   	opacity : 0;
   	box-shadow: 100px 0 200px rgba(0, 0, 0, 0.4), -100px 0 200px rgba(0, 0, 0, 0.4);
}


div.previewWrapper {
	float : left;
	overflow : hidden;
}


#frame { position : relative; z-index : 0; width: auto; margin: auto }

.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}

h1 { text-align : center }

#imgFrame {
	position : absolute;
	top : 0;
	width : 100%!important;
	height : 100%!important;
	background : rgba(0,0,0, .8);
	z-index : 10;
/* 	border : 1px solid red; */
}

#navFrame {
	position : absolute;
	top : 0;
	width : 100%!important;
	height : 100%!important;
	z-index : 20;
}


a.next {
	float : right;
	top : 0;
	width : 50%;
	height : 100%;
	position: relative;
}

a.prev {
	float : left;
	top : 0;
	width : 50%;
	height : 100%;
	position: relative;
}

#close, #help {
	opacity : 0;
	position : absolute;
	top : 10px;
	right : 10px;
	width : 50px;
	height : 50px;
	z-index : 30;
	cursor : pointer;
	text-align : center;
	@include border-radius(25px, 25px);
	background-color : #666;
}

.icon-cancel, .icon-help {
	color : black;
	line-height : 50px;
	font-size : 30px;
}


.table { display : table }

.piow-cell {

	color : #ddd;
	font-family: 'Lato', sans-serif;
	font-weight : 300;
	display : table-cell;
	text-align : center;
	vertical-align : middle;
}

.piow-cell div.container {
	text-align : left;
	width : 90%;
	border : 1px solid #333;
	padding : 10px;
	margin : auto;
	max-width : 600px;
	background : rgba(0, 0, 0, .8);
}

.piow-cell div.item {
	border-bottom : 1px solid #666;
    content:" ";
    display:table;
    clear:both;

    width : 100%;
}

.piow-cell div p {
	font-family: 'Gruppo', cursive;
	float : left;
	width : 100%;
	padding-left : 10px;
	margin-bottom : 5px;
	color : #eee;
	font-size : 110%;

}

.piow-cell div p.title {
	float : left;
	width : 100%;
	padding-left : 10px;
	margin-bottom : 5px;
	color : #eee;
	font-size : 150%;
}

.piow-cell div p.shortcut {
	padding-left : 10px;
	margin-bottom : 5px;
	color : #eee;
	font-size : 110%;
}


.piow-cell h1 { font-size : 200%; font-weight : 300; margin : 10px 0; }

.error {
    width: 100%;
    font-family: 'Lato', sans-serif;
    margin-top: 150px;
}

div.error {
    font-size : 200%;
    position: absolute;
    text-align: center;
}

table.error td {
    text-align: center;
    padding: 5px 0;
    font-size : 200%;
}

.errorItem {
    color: #fccc00;
}

a, a:visited {
    color: #fccc00;
}

$loader-size: 60px;
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $loader-size;
    height: $loader-size;
    margin-top: - $loader-size / 2;
    margin-left: - $loader-size / 2;
    background-image: url(/img/loading.gif);
    background-size: 100% 100%;
    z-index: 5;
}

/* eof */
